<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Estudiantes</title>
</head>
<body>
  <form action="/registroEstudiante/" method="POST">{% csrf_token %}

    <P>Nombre: <input type="text" name="nombre"></P>

    <p>Apellido <input type="text" name="apellido"></p>

    <p>Email <input type="email" name="email"></p>

    <input type="submit" value="Finalizar Registro!">

  </form>

</body>
</html>